/target/
*/target/**
**/target/**
**/META-INF/
!.mvn/wrapper/maven-wrapper.jar
**/secrets.properties
*/secrets.properties

out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
*mvn*
*.idea

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
